<div class="logo_resize"><img src="{{logo}}" class="sublogo"></div>

	<div class="column">
          <h4 class="nameclub" > Prenom : <span class="info"> {{city}} </span> </h4>
          <h4 class="fullname" > Prenom : <span class="info"> {{fullName}} </span> </h4>
          <h4 class="nickname" > Prenom : <span class="info"> {{nickname}} </span> </h4>
     </div>   