



     <div class="blocjoueur">
          <span class="jersey"> Numero de maillot : {{leagues.standard.jersey}}</span>
          <h4 class="firstname"> Prenom : {{firstName}} </h4>
          <h4 class="lastname"> Nom : {{lastName}} </h4>
          <h4 class="id">  ID: {{playerId}}  </h4>
      </div>


