    <div class="bloclub">
          <h4 class="nameclub"> Prenom : <span class="info"> {{fullName}} </span> </h4>
          <div class="align_logo"><img src="{{logo}}" class="logo"></div>
      </div>