.details{
  padding: 20px;
  color: white;
  font-size: 18px;
  width: auto;
  margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
text-align: center;
  .is-ready & {
    background-color: rgba(white, 1);
  }
}

.secondflex {
	display: flex;
	flex-direction: columns;

}


div#player
{
  width: 50%;
  height: 100%;
}

.blocjoueur
{
  margin-top: 8px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: solid 1px $grey;
  display: flex;
  justify-content: space-between;
}

span.jersey,h4.firstname,h4.lastname,h4.id
{
  padding-left: 50px;
  padding-right: 50px;
  color: $grey;
}


.blocjoueur:first-child
{
  margin-top: 8px;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: solid 1px $grey;
}



.blocjoueur:last-child
{
  margin-top: 8px;
  width: 100%;
 height: 36px;
  border-radius: 5px;
  border: solid 1px $grey;
  margin-bottom: 32px;
}


.blocjoueur.not_matched {
 display: none;
}

#info {
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
}


#numero{
  margin-left: 16px;
  width: 37px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
}


#name,#nationality,#birth,#position {
  width: 134px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: $grey;
}

#search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

#search input {
 padding-top: 80px;
 font-family: Roboto;
 font-size: 60px;
 font-weight: 500;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.07;
 letter-spacing: normal;
 color:blue;
 outline: none;
 border: 0;
 border-bottom: 2px solid $grey;
 padding-bottom: 16px;
 width: 100%;
 background-color: transparent;
}




